//common
$scrollbarThumbColor: $silver;
$priceColor: $tangerine;
$activeCarouselCaption: $toryBlue;
$placeholderColor: $black;
$shadowBG: rgba(255, 255, 255, 0.6);

//Main
$mainHeaderColor: $white;
$mainHeaderToolsIconsColor: $sunshade;
$pageMainColor: $cornflowerBlue;


//Carousel




//Header
$headerTextColor: $white;
$headerBG: $emperor;

//Aside
$asideText: $black;

//Menu
$menuBaseColor: $white;
$menuPopularBG: $white;
$menuActiveTextColor: $white;
$menuAsideTextColor: $black;
$menuPopularTextColor: $black;
$menuAsideActiveBG: $cornflowerBlue;
$menuAngleIconColor: $gullGray;
$menuAsideSubBG: $cornflowerBlue;
$menuPopularItemBG: $white;
$menuPopularActiveText: $cornflower;

//UserBox
$UserBoxText: $white;
$UserBoxActiveColor: $jordyBlue;
$UserBoxIconColor: $jordyBlue;

//Footer
$footerActiveLink: $jordyBlue;
$footerBaseColor: $white;
$footerBG: $emperor;
$orbFacebookBG: $chambray;
$orbGooglePlusBG: $persianRed;
$orbTwitterBG: $cerulean;
$orbYoutubeBG: $persianRed2;

//Popup
$popupBG: $white;
$popupBaseColor: $black;
$popupInputBorder: $alto;
$popupActiveColor: $jordyBlue;

//Cards
$cardsItemBG: $white;
$cardsBaseColor: $black;
$cardsActiveText: $toryBlue;