//Fonts
$font-size-base: 14px;
$font-base: Arial,sans-serif;

//Colors
$alto: #D2D2D2;
$bg-base: #fff;
$black: #000;
$color-base: #000;
$cornflowerBlue: #6E9FEC;
$cornflower: #8AADE5;
$cerulean: #00ACED;
$chambray: #3B5998;
$emperor: #555555;
$gullGray: #90A4AE;
$persianRed2: #CC3E2D;
$white: #ffffff;
$jordyBlue: #8EB4F0;
$sunshade: #FFA726;
$tangerine: #F29000;
$toryBlue: #1752AF;
$persianRed: #CE3E2D;
$silver: #CACACA;



//Other
$pageAsideW: 300px;
$pageAsideLineH: 48px;
$whiteBlockShadow: 0 0 2px 0 rgba(51,51,51,.05), 0 1px 4px 0 rgba(51,51,51,.15);
